p{
    text-align: left;
}

.lesson{
    table{
      font-size: 20px;
      border: 1px solid darkcyan;  
    };
    font-size: 24px;
    margin: 50px;

    
}
h3{
    text-align: center;
}
ul,ol{
    margin-left: 40px;
}
.scheme{
    text-align:center;
}
.lesson-nav{
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    
}
.nav-bottom{
    margin: 5px;
}