.navbar{
    padding-left: 10px;
    .brand-logo{
        size: 26px;
    }
    background: rgb(26,23,94);
    background: linear-gradient(90deg, rgba(26,23,94,1) 0%, rgba(21,152,142,1) 46%, rgba(46,112,90,1) 100%);

}

.out-btn{
    margin-left: 20px;
}
.navp{
    vertical-align: middle;
}
.navcent{
    margin-left: 20px;
    margin-right: 20px;
}
.nav-name{
    display: inline;
    overflow: hidden;
}